@import url('https://fonts.googleapis.com/css?family=Poppins:400,500')
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500')

*
  box-sizing: border-box

body
  background: rgb(246, 246, 246)
.header
  background: rgb(38, 38, 38)
.about-me
  font-family: 'Poppins', sans-serif

.title
  font-size: 1.5vw
  line-height: 3rem
  color: #FFF
  .name
    color: rgb(23, 223, 163)

.detail
  font-size: 1.2vw
  margin-top: 5px
  color: rgb(121, 121, 119)


/* For mobile phones: */

@media only screen and (min-width: 600px)
    /* For tablets: */

@media only screen and (min-width: 768px)
    /* For desktop: */
